 @model UserModel


<form method="post" asp-controller="User" asp-action="Save">
    <div class="container">
        <h3 class="text-center text-primary text-decoration-underline fw-bold">User Form</h3>
        <input asp-for="UserID" class="form-control col" type="hidden" />
        <div class="form-group">
            
            <label>UserName <span class="text-danger">*</span></label>
            <input type="text" class="form-control" asp-for="UserName" name="UserName" placeholder="Enter User Name" />
            <span asp-validation-for="UserName" class="text-danger"></span>

            <br />

            <label>Email <span class="text-danger">*</span></label>
            <input type="Email" class="form-control" asp-for="Email" name="Email" placeholder="Enter User Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>

            <br />

            <label>Password<span class="text-danger">*</span></label>
            <input type="text" class="form-control" asp-for="Password" name="Password" placeholder="Enter User Password" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <br />

            <label>MobileNo<span class="text-danger">*</span></label>
            <input type="number" class="form-control" asp-for="MobileNo" name="MobileNo" placeholder="Enter User Mobile No."/>
            <span asp-validation-for="MobileNo" class="text-danger"></span>

            <br />
            <label>Address<span class="text-danger">*</span></label>
            <textarea class="form-control" asp-for="Address" name="Address" placeholder="Enter User Address"></textarea>            
            <span asp-validation-for="Address" class="text-danger"></span>

            <br />
            <label>ISActive<span class="text-danger">*</span></label>
            <select asp-for="IsActive" class="form-control">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
            <span asp-validation-for="IsActive" class="text-danger"></span>

            <br />            
            <a class="btn btn-secondary" asp-controller="User" asp-action="User">Back</a>
            <button class="btn btn-primary ms-3 ">Submit</button>                       
        </div>

    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}